<ion-view title="Cloud Tab Default Page" id="page4">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="cloudTabDefaultPage-card21">
      <ion-item class="item-avatar positive" id="cloudTabDefaultPage-list-item3">
        <h2positive>france to athenes</h2positive>
      </ion-item>
      <div class=" item item-image">
        <img src="img/YWXVsnH8RrGRqcgdXEOy_athenes.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="cloudTabDefaultPage-list-item-container2">
        <div id="cloudTabDefaultPage-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="cloudTabDefaultPage-list-item4">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
  </ion-content>
</ion-view>