<ion-view title="Woo Match Maker (Ideas Scratch)" id="page2">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="wooMatchMakerIdeasScrach-card22">
      <ion-item class="item-avatar item-icon-right positive" id="wooMatchMakerIdeasScrach-list-item7" href-inappbrowser="https://www.cybereason.com/">
        <img src="img/GwazdHIRSu63DvefhrCm_ScreenShot2017-05-12at8.35.27.png">
        <h2positive>Cybereason Likes You!
          <p style="white-space:normal;">5 Developers Team, 10-50 People Startup, Security, Java Stack, Founded 2 Years Ago, Java/Jetty Stack</p>
          <i class="icon ion-heart"></i>
        </h2positive>
      </ion-item>
      <div class="item item-body" id="wooMatchMakerIdeasScrach-list-item-container4">
        <div>
          <img src="img/vW3aCSaQQLa2QwpJNL9r_ScreenShot2017-05-12at8.26.10.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div>
          <a style="display:block;" href-inappbrowser="https://www.google.co.il/maps/dir/32.079406,34.819772/Cybereason+TLV,+Ibn+Gabirol+Street,+Tel+Aviv-Yafo/@32.079888,34.7843305,14z/data=!4m13!4m12!1m0!1m5!1m1!1s0x151d4b839988b81b:0xee63b1fb94e1dbda!2m2!1d34.7817986!2d32.0749746!2m3!6e1!7e2!8j1494495060!3e3?hl=en">
            <img src="img/SmkkJj3RRWgJGQjPin3c_ScreenShot2017-05-12at8.27.42.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div>
          <a style="display:block;" href-inappbrowser="https://www.google.co.il/maps/dir/32.079406,34.819772/Cybereason+TLV,+Ibn+Gabirol+Street,+Tel+Aviv-Yafo/@32.079888,34.7843305,14z/data=!4m13!4m12!1m0!1m5!1m1!1s0x151d4b839988b81b:0xee63b1fb94e1dbda!2m2!1d34.7817986!2d32.0749746!2m3!6e1!7e2!8j1494495060!3e3?hl=en">
            <img src="img/P3PxJ6JPQKmuQ9dEZ6eW_ScreenShot2017-05-12at8.24.39.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div id="wooMatchMakerIdeasScrach-markdown5" class="show-list-numbers-and-dots">
          <p style="color:#1F98E9;font-size:12px;">
            <strong>Commute Match! It will take you around 20-30 minutes by bus to commute from your home to CyberReason to be there at
              <a href="change">09:30AM</a>
            </strong>
          </p>
        </div>
        <div>
          <a style="display:block;" href-inappbrowser="https://www.google.co.il/maps/dir/32.079406,34.819772/Cybereason+TLV,+Ibn+Gabirol+Street,+Tel+Aviv-Yafo/@32.079888,34.7843305,14z/data=!4m13!4m12!1m0!1m5!1m1!1s0x151d4b839988b81b:0xee63b1fb94e1dbda!2m2!1d34.7817986!2d32.0749746!2m3!6e1!7e2!8j1494495060!3e3?hl=en">
            <img src="img/xuYBgI3PRwasfXKQhRzY_ScreenShot2017-05-12at8.52.25.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </a>
        </div>
        <div class="spacer" style="height: 20px;"></div>
        <div id="wooMatchMakerIdeasScrach-markdown6" class="show-list-numbers-and-dots">
          <p style="color:#35A0D3;font-size:12px;">
            <strong>Product Match! CyberReason Is a Security Company!</strong>
          </p>
        </div>
      </div>
      <div class=" item item-image">
        <img src="img/h4JZD447RAClrYXMRfKK_ScreenShot2017-05-12at8.33.24.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 20px;"></div>
      <div id="wooMatchMakerIdeasScrach-markdown10" class="show-list-numbers-and-dots">
        <p style="color:#35A0D3;font-size:12px;">
          <strong>Get the hang of what it is to work @CyberReason, chat and interrupt your future team now while they work :) Ask us anything!</strong>
        </p>
      </div>
      <ion-item class="item-icon-left positive" id="wooMatchMakerIdeasScrach-list-item8" href-inappbrowser="https://www.facebook.com/Cybereason/">
        <i class="icon ion-chatbox-working"></i>Chat with future CoDevelopers</ion-item>
      <div class="spacer" style="height: 20px;"></div>
      <div id="wooMatchMakerIdeasScrach-markdown9" class="show-list-numbers-and-dots">
        <p style="color:#35A0D3;font-size:12px;">
          <strong>Architecture Match! CyberReason Beleives in event sourcing!</strong>
        </p>
      </div>
      <div class=" item item-image">
        <img src="img/MeprotYyTNqxxAGZJ8Y9_Event-sourced-based-architecture.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div ng-init="videourl_video1=&quot;https://www.youtube.com/embed/tEl3pkKFCTc?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="wooMatchMakerIdeasScrach-video1">
        <iframe src="{{videourl_video1}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
      </div>
    </div>
  </ion-content>
</ion-view>
